In [48]:
import csv
# import math
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import datetime as dt
# from sklearn.metrics import log_loss
# from sklearn.ensemble import RandomForestClassifier

In [49]:
df = pd.read_csv("./match_data_yearly/all_years.csv", index_col=0)
df = df[df["Year"] >= 2013]
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeRate,AwayRate,HomeRD,AwayRD
ID,,,,,,,,,,,,,,,,
13010512,2013,1,2013-03-02,yokohama-fa-marinos,shonan-bellmare,5,12,4,2,1,日産ス,24298,1550,1312,0,0
13010813,2013,1,2013-03-02,nagoya-grampus-eight,jubilo-iwata,8,13,1,1,0,豊田ス,21748,1578,1481,0,0
13013301,2013,1,2013-03-02,sagan-tosu,kashima-antlers,33,1,1,1,0,ベアスタ,12728,1470,1537,0,0
13012078,2013,1,2013-03-02,cerezo-osaka,albirex-niigata,20,78,1,0,1,長居,15051,1490,1477,0,0
13015428,2013,1,2013-03-02,vegalta-sendai,ventforet-kofu,54,28,1,1,0,ユアスタ,16353,1538,1398,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20340120,2020,34,2020-12-19,kashima-antlers,cerezo-osaka,1,20,1,1,0,カシマ,11251,1594,1560,4,-6
20340810,2020,34,2020-12-19,nagoya-grampus-eight,sanfrecce-hiroshima,8,10,1,0,1,豊田ス,16825,1515,1524,9,-13
20343331,2020,34,2020-12-19,sagan-tosu,oita-trinita,33,31,2,2,0,駅スタ,8966,1453,1458,17,7
20342218,2020,34,2020-12-19,fc-tokyo,vissel-kobe,22,18,1,0,1,味スタ,14373,1540,1453,8,0
20340314,2020,34,2020-12-19,urawa-red-diamonds,consadole-sapporo,3,14,0,2,2,埼玉,19319,1485,1458,-19,3

In [50]:
df=df[["Year","Sec","Date","Home","Away","HomeID","AwayID","Stadium"]]
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,Stadium
ID,,,,,,,,
13010512,2013,1,2013-03-02,yokohama-fa-marinos,shonan-bellmare,5,12,日産ス
13010813,2013,1,2013-03-02,nagoya-grampus-eight,jubilo-iwata,8,13,豊田ス
13013301,2013,1,2013-03-02,sagan-tosu,kashima-antlers,33,1,ベアスタ
13012078,2013,1,2013-03-02,cerezo-osaka,albirex-niigata,20,78,長居
13015428,2013,1,2013-03-02,vegalta-sendai,ventforet-kofu,54,28,ユアスタ
...,...,...,...,...,...,...,...,...
20340120,2020,34,2020-12-19,kashima-antlers,cerezo-osaka,1,20,カシマ
20340810,2020,34,2020-12-19,nagoya-grampus-eight,sanfrecce-hiroshima,8,10,豊田ス
20343331,2020,34,2020-12-19,sagan-tosu,oita-trinita,33,31,駅スタ
20342218,2020,34,2020-12-19,fc-tokyo,vissel-kobe,22,18,味スタ
20340314,2020,34,2020-12-19,urawa-red-diamonds,consadole-sapporo,3,14,埼玉

In [51]:
df_club_id = pd.read_csv("./club_and_id.csv")
df_club_id = df_club_id[:31]

for index, row in df.iterrows():
    home = row["Home"]
    away = row["Away"]
    
    for i,r in df_club_id.iterrows():
        if home == r["club"]:
            df.at[index,"Home"] = r["club_ja"]
            
        if away == r["club"]:
            df.at[index,"Away"] = r["club_ja"]

In [53]:
df

          Year  Sec        Date  Home Away  HomeID  AwayID Stadium
ID
13010512  2013    1  2013-03-02  横浜FM   湘南       5      12     日産ス
13010813  2013    1  2013-03-02   名古屋   磐田       8      13     豊田ス
13013301  2013    1  2013-03-02    鳥栖   鹿島      33       1    ベアスタ
13012078  2013    1  2013-03-02   Ｃ大阪   新潟      20      78      長居
13015428  2013    1  2013-03-02    仙台   甲府      54      28    ユアスタ
...        ...  ...         ...   ...  ...     ...     ...     ...
20340120  2020   34  2020-12-19    鹿島  Ｃ大阪       1      20     カシマ
20340810  2020   34  2020-12-19   名古屋   広島       8      10     豊田ス
20343331  2020   34  2020-12-19    鳥栖   大分      33      31     駅スタ
20342218  2020   34  2020-12-19  FC東京   神戸      22      18     味スタ
20340314  2020   34  2020-12-19    浦和   札幌       3      14      埼玉

[2448 rows x 8 columns]

In [54]:
df.to_csv("./match_data_yearly/for_totohint.csv")

### totohint用にjson変換

↑で生成したCSVを https://www.site24x7.com/ja/tools/csv-to-json.html を使用して,JSONに変換.

to_json()だと,indexが親要素になってしまう為.