In [13]:
import pandas as pd
import csv

In [4]:
team = pd.Series(['consadole-sapporo','vegalta-sendai','kashima-antlers','urawa-red-diamonds','kashiwa-reysol','fc-tokyo','kawasaki-frontale','yokohama-fa-marinos','yokohama-fc','shonan-bellmare','shimizu-s-pulse','nagoya-grampus-eight','gamba-osaka','cerezo-osaka','vissel-kobe','sanfrecce-hiroshima','tokushima-vortis','avispa-fukuoka','sagan-tosu','oita-trinita'])

In [5]:
team

0        consadole-sapporo
1           vegalta-sendai
2          kashima-antlers
3       urawa-red-diamonds
4           kashiwa-reysol
5                 fc-tokyo
6        kawasaki-frontale
7      yokohama-fa-marinos
8              yokohama-fc
9          shonan-bellmare
10         shimizu-s-pulse
11    nagoya-grampus-eight
12             gamba-osaka
13            cerezo-osaka
14             vissel-kobe
15     sanfrecce-hiroshima
16        tokushima-vortis
17          avispa-fukuoka
18              sagan-tosu
19            oita-trinita
dtype: object

In [6]:
team_id = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

In [24]:
df = pd.DataFrame({'team_id': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18],
                  "team": ['consadole-sapporo','vegalta-sendai','kashima-antlers','urawa-red-diamonds','kashiwa-reysol','fc-tokyo','kawasaki-frontale','yokohama-fa-marinos','yokohama-fc','shonan-bellmare','shimizu-s-pulse','nagoya-grampus-eight','gamba-osaka','cerezo-osaka','vissel-kobe','sanfrecce-hiroshima','sagan-tosu','oita-trinita'],
                   "チーム名":['札幌','仙台','鹿島','浦和','柏','FC東京','川崎Ｆ','横浜FM','横浜FC','湘南','清水','名古屋','Ｇ大阪','Ｃ大阪','神戸','広島','鳥栖','大分']   })

In [25]:
df

    team_id                  team  チーム名
0         1     consadole-sapporo    札幌
1         2        vegalta-sendai    仙台
2         3       kashima-antlers    鹿島
3         4    urawa-red-diamonds    浦和
4         5        kashiwa-reysol     柏
5         6              fc-tokyo  FC東京
6         7     kawasaki-frontale   川崎Ｆ
7         8   yokohama-fa-marinos  横浜FM
8         9           yokohama-fc  横浜FC
9        10       shonan-bellmare    湘南
10       11       shimizu-s-pulse    清水
11       12  nagoya-grampus-eight   名古屋
12       13           gamba-osaka   Ｇ大阪
13       14          cerezo-osaka   Ｃ大阪
14       15           vissel-kobe    神戸
15       16   sanfrecce-hiroshima    広島
16       17            sagan-tosu    鳥栖
17       18          oita-trinita    大分

In [26]:
df.to_csv('team_and_id.csv', index= False)