In [22]:
import re
import csv
import time
import requests
import datetime
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [23]:
url = 'https://data.j-league.or.jp/SFMS01/search?competition_years=2010&competition_frame_ids=1' 
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')
records = soup.find_all('tr')
data = []
for record in records[:-9]:
    l = [field.text for field in record.find_all(['th','td'])]           
    data.append(l)

with open('./match_data_yearly/2010.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [24]:
df = pd.read_csv(f'./match_data_yearly/2010.csv')
club_and_id = pd.read_csv('./club_and_id.csv')

In [25]:
df

,年度,大会,節,試合日,K/O時刻,ホーム,スコア,アウェイ,スタジアム,入場者数,インターネット中継・TV放送
0,2010,Ｊ１,第１節第１日,03/06(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t13:03,\n磐田\n,\n0-1\n,\n仙台\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tヤマハ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t10,440",スカパー（スカチャンＨＤ、スカチャン）／ｅ２スカチャンＨＤ／静岡放送
1,2010,Ｊ１,第１節第１日,03/06(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t13:04,\n湘南\n,\n1-1\n,\n山形\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t平塚,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t11,280",スカパー（スカチャンＨＤ、スカチャン）／ｅ２スカチャン
2,2010,Ｊ１,第１節第１日,03/06(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:01,\nＦ東京\n,\n1-0\n,\n横浜FM\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t味スタ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t29,011",スカパー・ｅ２（ＴＢＳチャンネル）／ＴＢＳ（単）／ＴＯＫＹＯ ＭＸ（録）
3,2010,Ｊ１,第１節第１日,03/06(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:04,\n広島\n,\n1-1\n,\n清水\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t広島ビ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t16,216",スカパー・ｅ２（Ｊ ｓｐｏｒｔｓ Ｐｌｕｓ）／ＮＨＫ広島／ＮＨＫ静岡
4,2010,Ｊ１,第１節第１日,03/06(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t16:03,\n川崎Ｆ\n,\n2-1\n,\n新潟\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t等々力,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t22,117",スカパー（スカチャンＨＤ、スカチャン）／ｅ２スカチャンＨＤ
...,...,...,...,...,...,...,...,...,...,...,...
301,2010,Ｊ１,第３４節第１日,12/04(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t15:34,\n山形\n,\n1-1\n,\n鹿島\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tＮＤスタ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t13,647",スカパー（スカチャンＨＤ、スカチャン）／ｅ２スカチャン
302,2010,Ｊ１,第３４節第１日,12/04(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t15:34,\n浦和\n,\n0-4\n,\n神戸\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t埼玉,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t45,941",スカパー（スカチャンＨＤ、スカチャン）／ｅ２スカチャンＨＤ／ＢＳ／テレ玉
303,2010,Ｊ１,第３４節第１日,12/04(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t15:34,\n新潟\n,\n3-1\n,\n湘南\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t東北電ス,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t27,389",スカパー（スカチャンＨＤ、スカチャン）／ｅ２スカチャン／ＮＨＫ新潟
304,2010,Ｊ１,第３４節第１日,12/04(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t15:34,\n名古屋\n,\n2-1\n,\n広島\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t豊田ス,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t31,941",スカパー（スカチャンＨＤ、スカチャン）／ｅ２スカチャン
305,2010,Ｊ１,第３４節第１日,12/04(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t15:37,\nＣ大阪\n,\n6-2\n,\n磐田\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t金鳥スタ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t15,011",スカパー・ｅ２（ＴＢＳチャンネル）／ＢＳ－ＴＢＳ

In [26]:
club_and_id

    club_id                  club club_ja
0         1       kashima-antlers      鹿島
1         2            jef-united      千葉
2         3    urawa-red-diamonds      浦和
3         4           tokyo-verdy     東京Ｖ
4         5   yokohama-fa-marinos    横浜FM
5         6      yokohama-flugels     横浜Ｆ
6         7       shimizu-s-pulse      清水
7         8  nagoya-grampus-eight     名古屋
8         9           gamba-osaka     Ｇ大阪
9        10   sanfrecce-hiroshima      広島
10       11        kashiwa-reysol       柏
11       12       shonan-bellmare      湘南
12       13          jubilo-iwata      磐田
13       14     consadole-sapporo      札幌
14       18           vissel-kobe      神戸
15       20          cerezo-osaka     Ｃ大阪
16       21     kawasaki-frontale     川崎Ｆ
17       22              fc-tokyo    FC東京
18       23        avispa-fukuoka      福岡
19       24           kyoto-sanga      京都
20       27          omiya-ardija      大宮
21       28        ventforet-kofu      甲府
22       29     montedio-yamagata      山形
23       31          oita-trinita      大分
24       33            sagan-tosu      鳥栖
25       34           yokohama-fc    横浜FC
26       36      tokushima-vortis      徳島
27       46      matsumoto-yamaga      松本
28       47      v-varen-nagasaki      長崎
29       54        vegalta-sendai      仙台
30       78       albirex-niigata      新潟
31       22              fc-tokyo     Ｆ東京

In [27]:
df = df.drop({"K/O時刻" ,"大会","インターネット中継・TV放送"}, axis=1) 
df = df.rename(columns={'年度':'Year','節': 'Sec', '試合日': 'Date',  'ホーム': 'Home','スコア':'Score', 'アウェイ': 'Away','スタジアム': 'Stadium', '入場者数': 'Attendances'})

In [28]:
df

,Year,Sec,Date,Home,Score,Away,Stadium,Attendances
0,2010,第１節第１日,03/06(土),\n磐田\n,\n0-1\n,\n仙台\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tヤマハ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t10,440"
1,2010,第１節第１日,03/06(土),\n湘南\n,\n1-1\n,\n山形\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t平塚,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t11,280"
2,2010,第１節第１日,03/06(土),\nＦ東京\n,\n1-0\n,\n横浜FM\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t味スタ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t29,011"
3,2010,第１節第１日,03/06(土),\n広島\n,\n1-1\n,\n清水\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t広島ビ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t16,216"
4,2010,第１節第１日,03/06(土),\n川崎Ｆ\n,\n2-1\n,\n新潟\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t等々力,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t22,117"
...,...,...,...,...,...,...,...,...
301,2010,第３４節第１日,12/04(土),\n山形\n,\n1-1\n,\n鹿島\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tＮＤスタ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t13,647"
302,2010,第３４節第１日,12/04(土),\n浦和\n,\n0-4\n,\n神戸\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t埼玉,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t45,941"
303,2010,第３４節第１日,12/04(土),\n新潟\n,\n3-1\n,\n湘南\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t東北電ス,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t27,389"
304,2010,第３４節第１日,12/04(土),\n名古屋\n,\n2-1\n,\n広島\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t豊田ス,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t31,941"
305,2010,第３４節第１日,12/04(土),\nＣ大阪\n,\n6-2\n,\n磐田\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t金鳥スタ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t15,011"

In [29]:
df = df.replace({'\t','\r','\n'},'',regex=True)
df

     Year      Sec      Date Home Score  Away Stadium Attendances
0    2010   第１節第１日  03/06(土)   磐田   0-1    仙台     ヤマハ      10,440
1    2010   第１節第１日  03/06(土)   湘南   1-1    山形      平塚      11,280
2    2010   第１節第１日  03/06(土)  Ｆ東京   1-0  横浜FM     味スタ      29,011
3    2010   第１節第１日  03/06(土)   広島   1-1    清水     広島ビ      16,216
4    2010   第１節第１日  03/06(土)  川崎Ｆ   2-1    新潟     等々力      22,117
..    ...      ...       ...  ...   ...   ...     ...         ...
301  2010  第３４節第１日  12/04(土)   山形   1-1    鹿島    ＮＤスタ      13,647
302  2010  第３４節第１日  12/04(土)   浦和   0-4    神戸      埼玉      45,941
303  2010  第３４節第１日  12/04(土)   新潟   3-1    湘南    東北電ス      27,389
304  2010  第３４節第１日  12/04(土)  名古屋   2-1    広島     豊田ス      31,941
305  2010  第３４節第１日  12/04(土)  Ｃ大阪   6-2    磐田    金鳥スタ      15,011

[306 rows x 8 columns]

In [30]:
df ["Date"] = df["Date"].replace('\(.+\)','',regex=True)
for index,row in df.iterrows():
    df.at[index,"Date"] = datetime.datetime.strptime(f'{row["Year"]}/{row["Date"]}','%Y/%m/%d')

In [31]:
df

     Year      Sec                 Date Home Score  Away Stadium Attendances
0    2010   第１節第１日  2010-03-06 00:00:00   磐田   0-1    仙台     ヤマハ      10,440
1    2010   第１節第１日  2010-03-06 00:00:00   湘南   1-1    山形      平塚      11,280
2    2010   第１節第１日  2010-03-06 00:00:00  Ｆ東京   1-0  横浜FM     味スタ      29,011
3    2010   第１節第１日  2010-03-06 00:00:00   広島   1-1    清水     広島ビ      16,216
4    2010   第１節第１日  2010-03-06 00:00:00  川崎Ｆ   2-1    新潟     等々力      22,117
..    ...      ...                  ...  ...   ...   ...     ...         ...
301  2010  第３４節第１日  2010-12-04 00:00:00   山形   1-1    鹿島    ＮＤスタ      13,647
302  2010  第３４節第１日  2010-12-04 00:00:00   浦和   0-4    神戸      埼玉      45,941
303  2010  第３４節第１日  2010-12-04 00:00:00   新潟   3-1    湘南    東北電ス      27,389
304  2010  第３４節第１日  2010-12-04 00:00:00  名古屋   2-1    広島     豊田ス      31,941
305  2010  第３４節第１日  2010-12-04 00:00:00  Ｃ大阪   6-2    磐田    金鳥スタ      15,011

[306 rows x 8 columns]

In [32]:
df["Sec"] =df["Sec"].replace({'第','節.+日'},'',regex=True).astype(int)
df

     Year  Sec                 Date Home Score  Away Stadium Attendances
0    2010    1  2010-03-06 00:00:00   磐田   0-1    仙台     ヤマハ      10,440
1    2010    1  2010-03-06 00:00:00   湘南   1-1    山形      平塚      11,280
2    2010    1  2010-03-06 00:00:00  Ｆ東京   1-0  横浜FM     味スタ      29,011
3    2010    1  2010-03-06 00:00:00   広島   1-1    清水     広島ビ      16,216
4    2010    1  2010-03-06 00:00:00  川崎Ｆ   2-1    新潟     等々力      22,117
..    ...  ...                  ...  ...   ...   ...     ...         ...
301  2010   34  2010-12-04 00:00:00   山形   1-1    鹿島    ＮＤスタ      13,647
302  2010   34  2010-12-04 00:00:00   浦和   0-4    神戸      埼玉      45,941
303  2010   34  2010-12-04 00:00:00   新潟   3-1    湘南    東北電ス      27,389
304  2010   34  2010-12-04 00:00:00  名古屋   2-1    広島     豊田ス      31,941
305  2010   34  2010-12-04 00:00:00  Ｃ大阪   6-2    磐田    金鳥スタ      15,011

[306 rows x 8 columns]

In [33]:
df.insert(6, 'HomeID',np.nan)
df.insert(7, 'AwayID', np.nan)
df

,Year,Sec,Date,Home,Score,Away,HomeID,AwayID,Stadium,Attendances
0,2010,1,2010-03-06 00:00:00,磐田,0-1,仙台,NaN,NaN,ヤマハ,"10,440"
1,2010,1,2010-03-06 00:00:00,湘南,1-1,山形,NaN,NaN,平塚,"11,280"
2,2010,1,2010-03-06 00:00:00,Ｆ東京,1-0,横浜FM,NaN,NaN,味スタ,"29,011"
3,2010,1,2010-03-06 00:00:00,広島,1-1,清水,NaN,NaN,広島ビ,"16,216"
4,2010,1,2010-03-06 00:00:00,川崎Ｆ,2-1,新潟,NaN,NaN,等々力,"22,117"
...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04 00:00:00,山形,1-1,鹿島,NaN,NaN,ＮＤスタ,"13,647"
302,2010,34,2010-12-04 00:00:00,浦和,0-4,神戸,NaN,NaN,埼玉,"45,941"
303,2010,34,2010-12-04 00:00:00,新潟,3-1,湘南,NaN,NaN,東北電ス,"27,389"
304,2010,34,2010-12-04 00:00:00,名古屋,2-1,広島,NaN,NaN,豊田ス,"31,941"
305,2010,34,2010-12-04 00:00:00,Ｃ大阪,6-2,磐田,NaN,NaN,金鳥スタ,"15,011"

In [34]:
for index,row in df.iterrows():
    for i,r in club_and_id.iterrows():
        if row["Home"] == r["club_ja"]:
            df.at[index, "HomeID"] = r["club_id"]
            df.at[index,"Home"] = r["club"]


    for i,r in club_and_id.iterrows():
        if row["Away"] == r["club_ja"]:
            df.at[index,"AwayID"] = r["club_id"]
            df.at[index,"Away"] = r["club"]

df[['HomeID', 'AwayID']] = df[['HomeID', 'AwayID']].astype('int')
df

,Year,Sec,Date,Home,Score,Away,HomeID,AwayID,Stadium,Attendances
0,2010,1,2010-03-06 00:00:00,jubilo-iwata,0-1,vegalta-sendai,13,54,ヤマハ,"10,440"
1,2010,1,2010-03-06 00:00:00,shonan-bellmare,1-1,montedio-yamagata,12,29,平塚,"11,280"
2,2010,1,2010-03-06 00:00:00,fc-tokyo,1-0,yokohama-fa-marinos,22,5,味スタ,"29,011"
3,2010,1,2010-03-06 00:00:00,sanfrecce-hiroshima,1-1,shimizu-s-pulse,10,7,広島ビ,"16,216"
4,2010,1,2010-03-06 00:00:00,kawasaki-frontale,2-1,albirex-niigata,21,78,等々力,"22,117"
...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04 00:00:00,montedio-yamagata,1-1,kashima-antlers,29,1,ＮＤスタ,"13,647"
302,2010,34,2010-12-04 00:00:00,urawa-red-diamonds,0-4,vissel-kobe,3,18,埼玉,"45,941"
303,2010,34,2010-12-04 00:00:00,albirex-niigata,3-1,shonan-bellmare,78,12,東北電ス,"27,389"
304,2010,34,2010-12-04 00:00:00,nagoya-grampus-eight,2-1,sanfrecce-hiroshima,8,10,豊田ス,"31,941"
305,2010,34,2010-12-04 00:00:00,cerezo-osaka,6-2,jubilo-iwata,20,13,金鳥スタ,"15,011"

In [35]:
df.insert(8, 'HomeGF', np.nan)
df.insert(9, 'AwayGF', np.nan)

for index,row in df.iterrows():
    home_gf,away_gf = map(int,row["Score"].split("-"))
    df.at[index,"HomeGF"] = home_gf
    df.at[index,"AwayGF"] = away_gf
df[['HomeGF', 'AwayGF']] = df[['HomeGF', 'AwayGF']].astype('int')
df

,Year,Sec,Date,Home,Score,Away,HomeID,AwayID,HomeGF,AwayGF,Stadium,Attendances
0,2010,1,2010-03-06 00:00:00,jubilo-iwata,0-1,vegalta-sendai,13,54,0,1,ヤマハ,"10,440"
1,2010,1,2010-03-06 00:00:00,shonan-bellmare,1-1,montedio-yamagata,12,29,1,1,平塚,"11,280"
2,2010,1,2010-03-06 00:00:00,fc-tokyo,1-0,yokohama-fa-marinos,22,5,1,0,味スタ,"29,011"
3,2010,1,2010-03-06 00:00:00,sanfrecce-hiroshima,1-1,shimizu-s-pulse,10,7,1,1,広島ビ,"16,216"
4,2010,1,2010-03-06 00:00:00,kawasaki-frontale,2-1,albirex-niigata,21,78,2,1,等々力,"22,117"
...,...,...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04 00:00:00,montedio-yamagata,1-1,kashima-antlers,29,1,1,1,ＮＤスタ,"13,647"
302,2010,34,2010-12-04 00:00:00,urawa-red-diamonds,0-4,vissel-kobe,3,18,0,4,埼玉,"45,941"
303,2010,34,2010-12-04 00:00:00,albirex-niigata,3-1,shonan-bellmare,78,12,3,1,東北電ス,"27,389"
304,2010,34,2010-12-04 00:00:00,nagoya-grampus-eight,2-1,sanfrecce-hiroshima,8,10,2,1,豊田ス,"31,941"
305,2010,34,2010-12-04 00:00:00,cerezo-osaka,6-2,jubilo-iwata,20,13,6,2,金鳥スタ,"15,011"

In [36]:
df=df.drop("Score", axis=1)

In [37]:
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,Stadium,Attendances
0,2010,1,2010-03-06 00:00:00,jubilo-iwata,vegalta-sendai,13,54,0,1,ヤマハ,"10,440"
1,2010,1,2010-03-06 00:00:00,shonan-bellmare,montedio-yamagata,12,29,1,1,平塚,"11,280"
2,2010,1,2010-03-06 00:00:00,fc-tokyo,yokohama-fa-marinos,22,5,1,0,味スタ,"29,011"
3,2010,1,2010-03-06 00:00:00,sanfrecce-hiroshima,shimizu-s-pulse,10,7,1,1,広島ビ,"16,216"
4,2010,1,2010-03-06 00:00:00,kawasaki-frontale,albirex-niigata,21,78,2,1,等々力,"22,117"
...,...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04 00:00:00,montedio-yamagata,kashima-antlers,29,1,1,1,ＮＤスタ,"13,647"
302,2010,34,2010-12-04 00:00:00,urawa-red-diamonds,vissel-kobe,3,18,0,4,埼玉,"45,941"
303,2010,34,2010-12-04 00:00:00,albirex-niigata,shonan-bellmare,78,12,3,1,東北電ス,"27,389"
304,2010,34,2010-12-04 00:00:00,nagoya-grampus-eight,sanfrecce-hiroshima,8,10,2,1,豊田ス,"31,941"
305,2010,34,2010-12-04 00:00:00,cerezo-osaka,jubilo-iwata,20,13,6,2,金鳥スタ,"15,011"

In [38]:
df.insert(9,'W/L',np.nan) 

for index,row in df.iterrows():
        if row["HomeGF"] >row["AwayGF"]:
            df.at[index,"W/L"] = 1
        elif row["HomeGF"] < row["AwayGF"]:
            df.at[index,"W/L"] = 2
        else:
            df.at[index,"W/L"] = 0
            
df['W/L'] = df['W/L'].astype('int')
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances
0,2010,1,2010-03-06 00:00:00,jubilo-iwata,vegalta-sendai,13,54,0,1,2,ヤマハ,"10,440"
1,2010,1,2010-03-06 00:00:00,shonan-bellmare,montedio-yamagata,12,29,1,1,0,平塚,"11,280"
2,2010,1,2010-03-06 00:00:00,fc-tokyo,yokohama-fa-marinos,22,5,1,0,1,味スタ,"29,011"
3,2010,1,2010-03-06 00:00:00,sanfrecce-hiroshima,shimizu-s-pulse,10,7,1,1,0,広島ビ,"16,216"
4,2010,1,2010-03-06 00:00:00,kawasaki-frontale,albirex-niigata,21,78,2,1,1,等々力,"22,117"
...,...,...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04 00:00:00,montedio-yamagata,kashima-antlers,29,1,1,1,0,ＮＤスタ,"13,647"
302,2010,34,2010-12-04 00:00:00,urawa-red-diamonds,vissel-kobe,3,18,0,4,2,埼玉,"45,941"
303,2010,34,2010-12-04 00:00:00,albirex-niigata,shonan-bellmare,78,12,3,1,1,東北電ス,"27,389"
304,2010,34,2010-12-04 00:00:00,nagoya-grampus-eight,sanfrecce-hiroshima,8,10,2,1,1,豊田ス,"31,941"
305,2010,34,2010-12-04 00:00:00,cerezo-osaka,jubilo-iwata,20,13,6,2,1,金鳥スタ,"15,011"

In [39]:
df["Attendances"] = df["Attendances"].str.replace(',','').astype(int)
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances
0,2010,1,2010-03-06 00:00:00,jubilo-iwata,vegalta-sendai,13,54,0,1,2,ヤマハ,10440
1,2010,1,2010-03-06 00:00:00,shonan-bellmare,montedio-yamagata,12,29,1,1,0,平塚,11280
2,2010,1,2010-03-06 00:00:00,fc-tokyo,yokohama-fa-marinos,22,5,1,0,1,味スタ,29011
3,2010,1,2010-03-06 00:00:00,sanfrecce-hiroshima,shimizu-s-pulse,10,7,1,1,0,広島ビ,16216
4,2010,1,2010-03-06 00:00:00,kawasaki-frontale,albirex-niigata,21,78,2,1,1,等々力,22117
...,...,...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04 00:00:00,montedio-yamagata,kashima-antlers,29,1,1,1,0,ＮＤスタ,13647
302,2010,34,2010-12-04 00:00:00,urawa-red-diamonds,vissel-kobe,3,18,0,4,2,埼玉,45941
303,2010,34,2010-12-04 00:00:00,albirex-niigata,shonan-bellmare,78,12,3,1,1,東北電ス,27389
304,2010,34,2010-12-04 00:00:00,nagoya-grampus-eight,sanfrecce-hiroshima,8,10,2,1,1,豊田ス,31941
305,2010,34,2010-12-04 00:00:00,cerezo-osaka,jubilo-iwata,20,13,6,2,1,金鳥スタ,15011

In [40]:
df.insert(12 ,"HomeElo", np.nan)
df.insert(13,"AwayElo",np.nan)
df.insert(14 ,"HomeED", np.nan)
df.insert(15,"AwayED",np.nan)
df
# for index,row in df.iterrows():
#     df_home = pd.read_csv(f'./elo_rating_data/{row["Home"]}.csv')
#     df_away = pd.read_csv(f'./elo_rating_data/{row["Away"]}.csv')
#     df_home["Month"] = pd.to_datetime(df_home["Month"])
#     df_away["Month"] = pd.to_datetime(df_away["Month"])
#     for i,r in df_home.iterrows():
#         if row["Date"].year == r["Month"].year and row["Date"].month == r["Month"].month:
#             df.at[index,"HomeElo"] = r["Points"]
#             df.at[index,"HomeED"] = r["PD"]
#     for i,r in df_away.iterrows():
#         if row["Date"].year == r["Month"].year and row["Date"].month == r["Month"].month:
#             df.at[index,"AwayElo"] = r["Points"]
#             df.at[index,"AwayED"] = r["PD"]

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeElo,AwayElo,HomeED,AwayED
0,2010,1,2010-03-06 00:00:00,jubilo-iwata,vegalta-sendai,13,54,0,1,2,ヤマハ,10440,NaN,NaN,NaN,NaN
1,2010,1,2010-03-06 00:00:00,shonan-bellmare,montedio-yamagata,12,29,1,1,0,平塚,11280,NaN,NaN,NaN,NaN
2,2010,1,2010-03-06 00:00:00,fc-tokyo,yokohama-fa-marinos,22,5,1,0,1,味スタ,29011,NaN,NaN,NaN,NaN
3,2010,1,2010-03-06 00:00:00,sanfrecce-hiroshima,shimizu-s-pulse,10,7,1,1,0,広島ビ,16216,NaN,NaN,NaN,NaN
4,2010,1,2010-03-06 00:00:00,kawasaki-frontale,albirex-niigata,21,78,2,1,1,等々力,22117,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04 00:00:00,montedio-yamagata,kashima-antlers,29,1,1,1,0,ＮＤスタ,13647,NaN,NaN,NaN,NaN
302,2010,34,2010-12-04 00:00:00,urawa-red-diamonds,vissel-kobe,3,18,0,4,2,埼玉,45941,NaN,NaN,NaN,NaN
303,2010,34,2010-12-04 00:00:00,albirex-niigata,shonan-bellmare,78,12,3,1,1,東北電ス,27389,NaN,NaN,NaN,NaN
304,2010,34,2010-12-04 00:00:00,nagoya-grampus-eight,sanfrecce-hiroshima,8,10,2,1,1,豊田ス,31941,NaN,NaN,NaN,NaN
305,2010,34,2010-12-04 00:00:00,cerezo-osaka,jubilo-iwata,20,13,6,2,1,金鳥スタ,15011,NaN,NaN,NaN,NaN

In [41]:
df["Date"]=pd.to_datetime(df["Date"])

In [42]:
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeElo,AwayElo,HomeED,AwayED
0,2010,1,2010-03-06,jubilo-iwata,vegalta-sendai,13,54,0,1,2,ヤマハ,10440,NaN,NaN,NaN,NaN
1,2010,1,2010-03-06,shonan-bellmare,montedio-yamagata,12,29,1,1,0,平塚,11280,NaN,NaN,NaN,NaN
2,2010,1,2010-03-06,fc-tokyo,yokohama-fa-marinos,22,5,1,0,1,味スタ,29011,NaN,NaN,NaN,NaN
3,2010,1,2010-03-06,sanfrecce-hiroshima,shimizu-s-pulse,10,7,1,1,0,広島ビ,16216,NaN,NaN,NaN,NaN
4,2010,1,2010-03-06,kawasaki-frontale,albirex-niigata,21,78,2,1,1,等々力,22117,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04,montedio-yamagata,kashima-antlers,29,1,1,1,0,ＮＤスタ,13647,NaN,NaN,NaN,NaN
302,2010,34,2010-12-04,urawa-red-diamonds,vissel-kobe,3,18,0,4,2,埼玉,45941,NaN,NaN,NaN,NaN
303,2010,34,2010-12-04,albirex-niigata,shonan-bellmare,78,12,3,1,1,東北電ス,27389,NaN,NaN,NaN,NaN
304,2010,34,2010-12-04,nagoya-grampus-eight,sanfrecce-hiroshima,8,10,2,1,1,豊田ス,31941,NaN,NaN,NaN,NaN
305,2010,34,2010-12-04,cerezo-osaka,jubilo-iwata,20,13,6,2,1,金鳥スタ,15011,NaN,NaN,NaN,NaN

In [43]:
df_elo =pd.read_csv("./elorating.csv")
df_elo["date"] = pd.to_datetime(df_elo["date"])
df_elo

,date,kashima-antlers,jef-united,urawa-red-diamonds,tokyo-verdy,yokohama-fa-marinos,yokohama-flugels,shimizu-s-pulse,nagoya-grampus-eight,gamba-osaka,...,ventforet-kofu,montedio-yamagata,oita-trinita,sagan-tosu,yokohama-fc,tokushima-vortis,matsumoto-yamaga,v-varen-nagasaki,vegalta-sendai,albirex-niigata
0,2006-03-04,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
1,2006-03-05,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
2,2006-03-06,1508.000000,1492.000000,1500.000000,1380.000000,1508.000000,1380.0,1508.000000,1508.000000,1500.000000,...,1492.000000,1380.000000,1492.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1492.0000
3,2006-03-07,1508.000000,1492.000000,1500.000000,1380.000000,1508.000000,1380.0,1508.000000,1508.000000,1500.000000,...,1492.000000,1380.000000,1492.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1492.0000
4,2006-03-08,1508.000000,1492.000000,1500.000000,1380.000000,1508.000000,1380.0,1508.000000,1508.000000,1500.000000,...,1492.000000,1380.000000,1492.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1492.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5401,2020-12-16,1594.223262,1406.814733,1489.248259,1397.849598,1543.451143,1380.0,1407.422803,1514.711944,1577.729929,...,1416.814355,1355.973353,1451.023527,1442.465453,1346.598609,1321.483674,1387.968269,1378.033443,1409.584579,1407.1328
5402,2020-12-17,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
5403,2020-12-18,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
5404,2020-12-19,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
5405,2020-12-20,1593.443277,1406.814733,1476.584817,1397.849598,1531.291869,1380.0,1411.310793,1522.935370,1569.236944,...,1416.814355,1355.973353,1457.797334,1453.404568,1355.412654,1321.483674,1387.968269,1378.033443,1417.020628,1407.1328

In [45]:
df_elo =  df_elo.set_index("date")

In [46]:
df_elo

,kashima-antlers,jef-united,urawa-red-diamonds,tokyo-verdy,yokohama-fa-marinos,yokohama-flugels,shimizu-s-pulse,nagoya-grampus-eight,gamba-osaka,sanfrecce-hiroshima,...,ventforet-kofu,montedio-yamagata,oita-trinita,sagan-tosu,yokohama-fc,tokushima-vortis,matsumoto-yamaga,v-varen-nagasaki,vegalta-sendai,albirex-niigata
date,,,,,,,,,,,,,,,,,,,,,
2006-03-04,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
2006-03-05,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
2006-03-06,1508.000000,1492.000000,1500.000000,1380.000000,1508.000000,1380.0,1508.000000,1508.000000,1500.000000,1492.000000,...,1492.000000,1380.000000,1492.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1492.0000
2006-03-07,1508.000000,1492.000000,1500.000000,1380.000000,1508.000000,1380.0,1508.000000,1508.000000,1500.000000,1492.000000,...,1492.000000,1380.000000,1492.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1492.0000
2006-03-08,1508.000000,1492.000000,1500.000000,1380.000000,1508.000000,1380.0,1508.000000,1508.000000,1500.000000,1492.000000,...,1492.000000,1380.000000,1492.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1492.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-16,1594.223262,1406.814733,1489.248259,1397.849598,1543.451143,1380.0,1407.422803,1514.711944,1577.729929,1532.939422,...,1416.814355,1355.973353,1451.023527,1442.465453,1346.598609,1321.483674,1387.968269,1378.033443,1409.584579,1407.1328
2020-12-17,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,1524.417742,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
2020-12-18,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,1524.417742,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
2020-12-19,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,1524.417742,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
2020-12-20,1593.443277,1406.814733,1476.584817,1397.849598,1531.291869,1380.0,1411.310793,1522.935370,1569.236944,1516.194315,...,1416.814355,1355.973353,1457.797334,1453.404568,1355.412654,1321.483674,1387.968269,1378.033443,1417.020628,1407.1328

In [47]:
for index,row in df.iterrows():
    home_elo = df_elo.loc[row["Date"], row["Home"]]
    away_elo = df_elo.loc[row["Date"], row["Away"]]    
    
    df.at[index,"HomeElo"] = home_elo
    df.at[index,"AwayElo"] = away_elo
    
    home_elo_1mago = df_elo.loc[row["Date"]- pd.tseries.offsets.DateOffset(months = 1), row["Home"]]
    away_elo_1mago = df_elo.loc[row["Date"]- pd.tseries.offsets.DateOffset(months = 1), row["Away"]]
    
    df.at[index,"HomeED"] = home_elo - home_elo_1mago
    df.at[index,"AwayED"] = away_elo - away_elo_1mago

In [48]:
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeElo,AwayElo,HomeED,AwayED
0,2010,1,2010-03-06,jubilo-iwata,vegalta-sendai,13,54,0,1,2,ヤマハ,10440,1453.347486,1380.000000,0.000000,0.000000
1,2010,1,2010-03-06,shonan-bellmare,montedio-yamagata,12,29,1,1,0,平塚,11280,1380.000000,1415.085020,0.000000,0.000000
2,2010,1,2010-03-06,fc-tokyo,yokohama-fa-marinos,22,5,1,0,1,味スタ,29011,1523.460064,1512.990163,0.000000,0.000000
3,2010,1,2010-03-06,sanfrecce-hiroshima,shimizu-s-pulse,10,7,1,1,0,広島ビ,16216,1513.489827,1548.121024,0.000000,0.000000
4,2010,1,2010-03-06,kawasaki-frontale,albirex-niigata,21,78,2,1,1,等々力,22117,1599.164425,1493.389561,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2010,34,2010-12-04,montedio-yamagata,kashima-antlers,29,1,1,1,0,ＮＤスタ,13647,1438.354490,1601.302884,2.390032,3.708989
302,2010,34,2010-12-04,urawa-red-diamonds,vissel-kobe,3,18,0,4,2,埼玉,45941,1513.147035,1451.454406,0.310247,24.292139
303,2010,34,2010-12-04,albirex-niigata,shonan-bellmare,78,12,3,1,1,東北電ス,27389,1505.796274,1315.779898,-13.860163,-22.676941
304,2010,34,2010-12-04,nagoya-grampus-eight,sanfrecce-hiroshima,8,10,2,1,1,豊田ス,31941,1586.997950,1523.693273,-4.511562,7.239397
305,2010,34,2010-12-04,cerezo-osaka,jubilo-iwata,20,13,6,2,1,金鳥スタ,15011,1524.998366,1482.088054,29.167539,-5.092993

In [49]:
df.to_csv('./match_data_yearly/2010.csv',index=False)