In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [2]:
df = pd.read_csv("./match_data/results_1to25.csv")

In [4]:
df

    team        Hs        Hg        As        Ag
0   sapp  1.428571  1.714286  1.090909  1.909091
1   send  0.750000  1.833333  0.923077  2.076923
2   kasm  1.500000  1.333333  1.307692  1.307692
3   uraw  1.307692  1.307692  1.666667  1.666667
4   kasw  2.000000  1.769231  1.666667  1.166667
5   fctk  1.636364  1.181818  1.500000  1.214286
6   ka-f  2.846154  0.846154  2.750000  0.750000
7   y-fm  2.153846  1.461538  1.666667  1.916667
8   y-fc  1.181818  1.909091  1.071429  1.857143
9   shon  0.615385  1.076923  1.083333  2.083333
10  shim  1.750000  2.250000  0.769231  2.076923
11  nago  1.916667  0.916667  1.153846  1.000000
12  g-os  1.307692  1.230769  1.666667  0.916667
13  c-os  1.416667  0.750000  1.538462  1.461538
14  kobe  1.769231  1.846154  1.666667  1.666667
15  hiro  1.833333  1.166667  1.153846  1.076923
16  tosu  1.076923  1.230769  1.083333  1.500000
17  oita  0.769231  1.153846  1.333333  1.666667

In [9]:
aveHs = df["Hs"].mean()

In [10]:
aveHg = df["Hg"].mean()

In [11]:
aveAs = df["As"].mean()

In [12]:
aveAg = df["Ag"].mean()

In [17]:
# HA = ホームでの攻撃力
# HD = ホームでの守備力
# AA = アウェーでの攻撃力
# AD = アウェーでの守備力

# 攻撃力は高いほど得点をとりやすいことを示しているのに対し、守備力は低いほど失点しにくいことを示している
# 例えばHA=1.5の場合、ホームで平均の1.5倍得点を取りやすく、HD=1.5ならば、ホームで平均の1.5倍得点を与えやすい

for index, row in df.iterrows():
    HA = row.Hs / aveHs
    HD = row.Hg / aveHg
    AA = row.As / aveAs
    AD = row.Ag / aveAg
    
    with open('./match_data/HaHdAaAd.csv', 'a') as f:
        writer = csv.writer(f)
        writer.writerow([row.team,HA,HD,AA,AD])

In [18]:
df_HAHDAAAD = pd.read_csv("./match_data/HaHdAaAd.csv")

In [19]:
df_HAHDAAAD

    team        HA        HD        AA        AD
0   sapp  0.943312  1.235359  0.782580  1.258103
1   send  0.495239  1.321148  0.662183  1.368705
2   kasm  0.990478  0.960835  0.938093  0.861777
3   uraw  0.863493  0.942357  1.195609  1.098344
4   kasw  1.320637  1.274954  1.195609  0.768841
5   fctk  1.080521  0.851649  1.076048  0.800222
6   ka-f  1.879368  0.609761  1.972754  0.494255
7   y-fm  1.422224  1.053223  1.195609  1.263095
8   y-fc  0.780376  1.375741  0.768605  1.223869
9   shon  0.406350  0.776059  0.777146  1.372930
10  shim  1.155557  1.621409  0.551819  1.368705
11  nago  1.265610  0.660574  0.827729  0.659006
12  g-os  0.863493  0.886925  1.195609  0.604089
13  c-os  0.935451  0.540470  1.103639  0.963163
14  kobe  1.168256  1.330387  1.195609  1.098344
15  hiro  1.210584  0.840731  0.827729  0.709699
16  tosu  0.711112  0.886925  0.777146  0.988509
17  oita  0.507937  0.831492  0.956487  1.098344