In [1]:
import re
import csv
import time
import requests
import datetime
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
column_array=[
    ["No","Date","1stPrize","2ndPrize","Match1","Match1","Match1","Match1","Match1","Match2","Match2","Match2","Match2","Match2","Match3","Match3","Match3","Match3","Match3"],
    ["","","","","MatchID","Home","Away","HomeResult","AwayResult","MatchID","Home","Away","HomeResult","AwayResult","MatchID","Home","Away","HomeResult","AwayResult",]
]
column_tuples = list(zip(*column_array))
column = pd.MultiIndex.from_tuples(column_tuples)

In [4]:
column

MultiIndex([(      'No',           ''),
            (    'Date',           ''),
            ('1stPrize',           ''),
            ('2ndPrize',           ''),
            (  'Match1',    'MatchID'),
            (  'Match1',       'Home'),
            (  'Match1',       'Away'),
            (  'Match1', 'HomeResult'),
            (  'Match1', 'AwayResult'),
            (  'Match2',    'MatchID'),
            (  'Match2',       'Home'),
            (  'Match2',       'Away'),
            (  'Match2', 'HomeResult'),
            (  'Match2', 'AwayResult'),
            (  'Match3',    'MatchID'),
            (  'Match3',       'Home'),
            (  'Match3',       'Away'),
            (  'Match3', 'HomeResult'),
            (  'Match3', 'AwayResult')],
           )

In [5]:
df=pd.DataFrame(columns=column)
df

Empty DataFrame
Columns: [(No, ), (Date, ), (1stPrize, ), (2ndPrize, ), (Match1, MatchID), (Match1, Home), (Match1, Away), (Match1, HomeResult), (Match1, AwayResult), (Match2, MatchID), (Match2, Home), (Match2, Away), (Match2, HomeResult), (Match2, AwayResult), (Match3, MatchID), (Match3, Home), (Match3, Away), (Match3, HomeResult), (Match3, AwayResult)]
Index: []

In [6]:
url =f'https://toto.rakuten.co.jp/toto/result/1254/'

In [9]:
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

In [10]:
date = soup.select(f".totoGoal3Block .tbl-basic-day td")[0].string
date

'2021年8月31日(火)'

In [18]:
prize_1st = soup.select(f".totoGoal3Block .tbl-basic-money tbody td")[0].string
prize_1st

'75,370円'

In [19]:
prize_2nd = soup.select(f".totoGoal3Block .tbl-basic-money tbody td")[3].string
prize_2nd

'2,340円'